@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

a {
  color: black;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(251, 249, 249);
  height: 1000px;
}

header .navbar {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #eeeeee;
  background-color: #fff;
}

header .navbar nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

header .navbar .menu {
  display: flex;
  gap: 2rem;
}

header .navbar .menu li {
  font-weight: 400;
  font-size: medium;
}

header .header-text-wrap {
  display: flex;
  justify-content: start;
  background-color: #fff;
  border: 2px solid #eeeeee;
  border-radius: 1rem;
  margin: 2rem;
  padding: 3rem;
}

header .header-text-wrap .header-text p {
  margin: 1rem 0 1.5rem 0;
}

header .header-text-wrap .header-text p {
  font-size: large;
  font-weight: 500;
  color: gray;
}

header .header-text-wrap .header-text a button {
  font-size: small;
  font-weight: 600;
  background-color: aliceblue;
  border: 2px solid #eeeeee;
  padding: 0.7rem 1.7rem;
  border-radius: 10rem;
  cursor: pointer;
}

section #section-1 {
  display: flex;
  justify-content: start;
  background-color: #fff;
  border: 2px solid #eeeeee;
  border-radius: 1rem;
  margin: 2rem;
  padding: 3rem;
}
